[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Travis-CI, Robot Framework ja PhantomJS harjoittelua
[access "refs/*"]
	owner = group user/thapaharibishnu
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/thapaharibishnu
	label-Verified = -1..+1 group user/thapaharibishnu
	push = group user/thapaharibishnu
	read = group user/thapaharibishnu
	rebase = group user/thapaharibishnu
	removeReviewer = group user/thapaharibishnu
	submit = group user/thapaharibishnu
[access "refs/heads/*"]
	create = group user/thapaharibishnu
	push = +force group user/thapaharibishnu
	pushMerge = group user/thapaharibishnu
	read = group user/thapaharibishnu
[access "refs/tags/*"]
	push = group user/thapaharibishnu
	push = +force group user/thapaharibishnu
